In [77]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [26]:
dfrev = pd.read_csv(r"E:\Datasets\movie_review.csv")

In [27]:
dfrev

    age  gender education   review
0    30  Female    School  Average
1    68  Female        UG     Poor
2    70  Female        PG     Good
3    72  Female        PG     Good
4    16  Female        UG  Average
5    31  Female    School  Average
6    18    Male    School     Good
7    60  Female    School     Poor
8    65  Female        UG  Average
9    74    Male        UG     Good
10   98  Female        UG     Good
11   74    Male        UG     Good
12   51    Male    School     Poor
13   57  Female    School  Average
14   15    Male        PG     Poor
15   75    Male        UG     Poor
16   59    Male        UG     Poor
17   22  Female        UG     Poor
18   19    Male    School     Good
19   97    Male        PG     Poor
20   57  Female    School  Average
21   32    Male        PG  Average
22   18  Female        PG     Poor
23   96  Female    School     Good
24   16  Female        PG  Average
25   57  Female    School     Good
26   53  Female        PG     Poor
27   69  Female        PG     Poor
28   48    Male    School     Poor
29   83  Female        UG  Average
30   73    Male        UG  Average
31   22  Female    School     Poor
32   92    Male        UG  Average
33   89  Female        PG     Good
34   86    Male    School  Average
35   74    Male    School     Poor
36   34  Female        UG     Good
37   94    Male        PG  Average
38   45  Female    School     Good
39   76    Male        PG     Poor
40   39    Male    School     Good
41   23    Male        PG     Good
42   30  Female        PG     Good
43   27    Male        PG     Poor
44   77  Female        UG  Average
45   61    Male        PG     Poor
46   64  Female        PG     Poor
47   38  Female        PG     Good
48   39  Female        UG     Good
49   25  Female        UG     Good

In [28]:
dfrev.shape

(50, 4)

In [29]:
dfrev.columns

Index(['age', 'gender', 'education', 'review'], dtype='object')

In [30]:
dfrev.dtypes

age           int64
gender       object
education    object
review       object
dtype: object

In [31]:
dfrev.head()

   age  gender education   review
0   30  Female    School  Average
1   68  Female        UG     Poor
2   70  Female        PG     Good
3   72  Female        PG     Good
4   16  Female        UG  Average

In [32]:
dfrev["education"].unique()

array(['School', 'UG', 'PG'], dtype=object)

In [33]:
dfrev["review"].unique()

array(['Average', 'Poor', 'Good'], dtype=object)

### OneHotEncoder

In [34]:
from sklearn.preprocessing import OneHotEncoder

In [35]:
ohe = OneHotEncoder()

In [36]:
ohe

OneHotEncoder()

In [37]:
ohe.fit(dfrev[["gender"]])

OneHotEncoder()

In [38]:
ohe.transform(dfrev[["gender"]])

<50x2 sparse matrix of type '<class 'numpy.float64'>'
	with 50 stored elements in Compressed Sparse Row format>

In [39]:
ary = ohe.transform(dfrev[["gender"]]).toarray()

In [40]:
ary

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [41]:
ohe.categories_

[array(['Female', 'Male'], dtype=object)]

In [42]:
df1 = pd.DataFrame(ary, dtype = "int",columns = ['Female', 'Male'] )

In [43]:
df1

    Female  Male
0        1     0
1        1     0
2        1     0
3        1     0
4        1     0
5        1     0
6        0     1
7        1     0
8        1     0
9        0     1
10       1     0
11       0     1
12       0     1
13       1     0
14       0     1
15       0     1
16       0     1
17       1     0
18       0     1
19       0     1
20       1     0
21       0     1
22       1     0
23       1     0
24       1     0
25       1     0
26       1     0
27       1     0
28       0     1
29       1     0
30       0     1
31       1     0
32       0     1
33       1     0
34       0     1
35       0     1
36       1     0
37       0     1
38       1     0
39       0     1
40       0     1
41       0     1
42       1     0
43       0     1
44       1     0
45       0     1
46       1     0
47       1     0
48       1     0
49       1     0

In [44]:
df = pd.concat([dfrev,df1], axis =1)

In [45]:
df

    age  gender education   review  Female  Male
0    30  Female    School  Average       1     0
1    68  Female        UG     Poor       1     0
2    70  Female        PG     Good       1     0
3    72  Female        PG     Good       1     0
4    16  Female        UG  Average       1     0
5    31  Female    School  Average       1     0
6    18    Male    School     Good       0     1
7    60  Female    School     Poor       1     0
8    65  Female        UG  Average       1     0
9    74    Male        UG     Good       0     1
10   98  Female        UG     Good       1     0
11   74    Male        UG     Good       0     1
12   51    Male    School     Poor       0     1
13   57  Female    School  Average       1     0
14   15    Male        PG     Poor       0     1
15   75    Male        UG     Poor       0     1
16   59    Male        UG     Poor       0     1
17   22  Female        UG     Poor       1     0
18   19    Male    School     Good       0     1
19   97    Male        PG     Poor       0     1
20   57  Female    School  Average       1     0
21   32    Male        PG  Average       0     1
22   18  Female        PG     Poor       1     0
23   96  Female    School     Good       1     0
24   16  Female        PG  Average       1     0
25   57  Female    School     Good       1     0
26   53  Female        PG     Poor       1     0
27   69  Female        PG     Poor       1     0
28   48    Male    School     Poor       0     1
29   83  Female        UG  Average       1     0
30   73    Male        UG  Average       0     1
31   22  Female    School     Poor       1     0
32   92    Male        UG  Average       0     1
33   89  Female        PG     Good       1     0
34   86    Male    School  Average       0     1
35   74    Male    School     Poor       0     1
36   34  Female        UG     Good       1     0
37   94    Male        PG  Average       0     1
38   45  Female    School     Good       1     0
39   76    Male        PG     Poor       0     1
40   39    Male    School     Good       0     1
41   23    Male        PG     Good       0     1
42   30  Female        PG     Good       1     0
43   27    Male        PG     Poor       0     1
44   77  Female        UG  Average       1     0
45   61    Male        PG     Poor       0     1
46   64  Female        PG     Poor       1     0
47   38  Female        PG     Good       1     0
48   39  Female        UG     Good       1     0
49   25  Female        UG     Good       1     0

# OrdinalEncoder

In [49]:
df["education"]

0     School
1         UG
2         PG
3         PG
4         UG
5     School
6     School
7     School
8         UG
9         UG
10        UG
11        UG
12    School
13    School
14        PG
15        UG
16        UG
17        UG
18    School
19        PG
20    School
21        PG
22        PG
23    School
24        PG
25    School
26        PG
27        PG
28    School
29        UG
30        UG
31    School
32        UG
33        PG
34    School
35    School
36        UG
37        PG
38    School
39        PG
40    School
41        PG
42        PG
43        PG
44        UG
45        PG
46        PG
47        PG
48        UG
49        UG
Name: education, dtype: object

In [46]:
from sklearn.preprocessing import OrdinalEncoder

In [47]:
ord = OrdinalEncoder()

In [48]:
ord

OrdinalEncoder()

In [50]:
ord.fit(df[["education"]])

OrdinalEncoder()

In [52]:
ary1 = ord.transform(df[["education"]])

In [53]:
ary1

array([[1.],
       [2.],
       [0.],
       [0.],
       [2.],
       [1.],
       [1.],
       [1.],
       [2.],
       [2.],
       [2.],
       [2.],
       [1.],
       [1.],
       [0.],
       [2.],
       [2.],
       [2.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [2.],
       [2.],
       [1.],
       [2.],
       [0.],
       [1.],
       [1.],
       [2.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [2.],
       [0.],
       [0.],
       [0.],
       [2.],
       [2.]])

In [54]:
ord.categories_

[array(['PG', 'School', 'UG'], dtype=object)]

In [56]:
df2 = pd.DataFrame(ary1, dtype = "int", columns = ["Rank"])

In [57]:
df2

    Rank
0      1
1      2
2      0
3      0
4      2
5      1
6      1
7      1
8      2
9      2
10     2
11     2
12     1
13     1
14     0
15     2
16     2
17     2
18     1
19     0
20     1
21     0
22     0
23     1
24     0
25     1
26     0
27     0
28     1
29     2
30     2
31     1
32     2
33     0
34     1
35     1
36     2
37     0
38     1
39     0
40     1
41     0
42     0
43     0
44     2
45     0
46     0
47     0
48     2
49     2

In [58]:
df = pd.concat([df,df2], axis = 1)

In [59]:
df

    age  gender education   review  Female  Male  Rank
0    30  Female    School  Average       1     0     1
1    68  Female        UG     Poor       1     0     2
2    70  Female        PG     Good       1     0     0
3    72  Female        PG     Good       1     0     0
4    16  Female        UG  Average       1     0     2
5    31  Female    School  Average       1     0     1
6    18    Male    School     Good       0     1     1
7    60  Female    School     Poor       1     0     1
8    65  Female        UG  Average       1     0     2
9    74    Male        UG     Good       0     1     2
10   98  Female        UG     Good       1     0     2
11   74    Male        UG     Good       0     1     2
12   51    Male    School     Poor       0     1     1
13   57  Female    School  Average       1     0     1
14   15    Male        PG     Poor       0     1     0
15   75    Male        UG     Poor       0     1     2
16   59    Male        UG     Poor       0     1     2
17   22  Female        UG     Poor       1     0     2
18   19    Male    School     Good       0     1     1
19   97    Male        PG     Poor       0     1     0
20   57  Female    School  Average       1     0     1
21   32    Male        PG  Average       0     1     0
22   18  Female        PG     Poor       1     0     0
23   96  Female    School     Good       1     0     1
24   16  Female        PG  Average       1     0     0
25   57  Female    School     Good       1     0     1
26   53  Female        PG     Poor       1     0     0
27   69  Female        PG     Poor       1     0     0
28   48    Male    School     Poor       0     1     1
29   83  Female        UG  Average       1     0     2
30   73    Male        UG  Average       0     1     2
31   22  Female    School     Poor       1     0     1
32   92    Male        UG  Average       0     1     2
33   89  Female        PG     Good       1     0     0
34   86    Male    School  Average       0     1     1
35   74    Male    School     Poor       0     1     1
36   34  Female        UG     Good       1     0     2
37   94    Male        PG  Average       0     1     0
38   45  Female    School     Good       1     0     1
39   76    Male        PG     Poor       0     1     0
40   39    Male    School     Good       0     1     1
41   23    Male        PG     Good       0     1     0
42   30  Female        PG     Good       1     0     0
43   27    Male        PG     Poor       0     1     0
44   77  Female        UG  Average       1     0     2
45   61    Male        PG     Poor       0     1     0
46   64  Female        PG     Poor       1     0     0
47   38  Female        PG     Good       1     0     0
48   39  Female        UG     Good       1     0     2
49   25  Female        UG     Good       1     0     2

# LabelEncoder

In [63]:
df["review"]

0     Average
1        Poor
2        Good
3        Good
4     Average
5     Average
6        Good
7        Poor
8     Average
9        Good
10       Good
11       Good
12       Poor
13    Average
14       Poor
15       Poor
16       Poor
17       Poor
18       Good
19       Poor
20    Average
21    Average
22       Poor
23       Good
24    Average
25       Good
26       Poor
27       Poor
28       Poor
29    Average
30    Average
31       Poor
32    Average
33       Good
34    Average
35       Poor
36       Good
37    Average
38       Good
39       Poor
40       Good
41       Good
42       Good
43       Poor
44    Average
45       Poor
46       Poor
47       Good
48       Good
49       Good
Name: review, dtype: object

In [60]:
from sklearn.preprocessing import LabelEncoder

In [61]:
lb = LabelEncoder( )

In [62]:
lb

LabelEncoder()

In [78]:
lb.fit(df[["review"]])

LabelEncoder()

In [79]:
ary2 = lb.transform(df[["review"]])

In [69]:
ary2

array([0, 2, 1, 1, 0, 0, 1, 2, 0, 1, 1, 1, 2, 0, 2, 2, 2, 2, 1, 2, 0, 0,
       2, 1, 0, 1, 2, 2, 2, 0, 0, 2, 0, 1, 0, 2, 1, 0, 1, 2, 1, 1, 1, 2,
       0, 2, 2, 1, 1, 1])

In [71]:
lb.classes_

array(['Average', 'Good', 'Poor'], dtype=object)

In [73]:
df4 = pd.DataFrame(ary2 , dtype = "int", columns = ['performance'])

In [74]:
df4

    performance
0             0
1             2
2             1
3             1
4             0
5             0
6             1
7             2
8             0
9             1
10            1
11            1
12            2
13            0
14            2
15            2
16            2
17            2
18            1
19            2
20            0
21            0
22            2
23            1
24            0
25            1
26            2
27            2
28            2
29            0
30            0
31            2
32            0
33            1
34            0
35            2
36            1
37            0
38            1
39            2
40            1
41            1
42            1
43            2
44            0
45            2
46            2
47            1
48            1
49            1

In [75]:
df = pd.concat([df,df4], axis = 1)

In [76]:
df

    age  gender education   review  Female  Male  Rank  performance
0    30  Female    School  Average       1     0     1            0
1    68  Female        UG     Poor       1     0     2            2
2    70  Female        PG     Good       1     0     0            1
3    72  Female        PG     Good       1     0     0            1
4    16  Female        UG  Average       1     0     2            0
5    31  Female    School  Average       1     0     1            0
6    18    Male    School     Good       0     1     1            1
7    60  Female    School     Poor       1     0     1            2
8    65  Female        UG  Average       1     0     2            0
9    74    Male        UG     Good       0     1     2            1
10   98  Female        UG     Good       1     0     2            1
11   74    Male        UG     Good       0     1     2            1
12   51    Male    School     Poor       0     1     1            2
13   57  Female    School  Average       1     0     1            0
14   15    Male        PG     Poor       0     1     0            2
15   75    Male        UG     Poor       0     1     2            2
16   59    Male        UG     Poor       0     1     2            2
17   22  Female        UG     Poor       1     0     2            2
18   19    Male    School     Good       0     1     1            1
19   97    Male        PG     Poor       0     1     0            2
20   57  Female    School  Average       1     0     1            0
21   32    Male        PG  Average       0     1     0            0
22   18  Female        PG     Poor       1     0     0            2
23   96  Female    School     Good       1     0     1            1
24   16  Female        PG  Average       1     0     0            0
25   57  Female    School     Good       1     0     1            1
26   53  Female        PG     Poor       1     0     0            2
27   69  Female        PG     Poor       1     0     0            2
28   48    Male    School     Poor       0     1     1            2
29   83  Female        UG  Average       1     0     2            0
30   73    Male        UG  Average       0     1     2            0
31   22  Female    School     Poor       1     0     1            2
32   92    Male        UG  Average       0     1     2            0
33   89  Female        PG     Good       1     0     0            1
34   86    Male    School  Average       0     1     1            0
35   74    Male    School     Poor       0     1     1            2
36   34  Female        UG     Good       1     0     2            1
37   94    Male        PG  Average       0     1     0            0
38   45  Female    School     Good       1     0     1            1
39   76    Male        PG     Poor       0     1     0            2
40   39    Male    School     Good       0     1     1            1
41   23    Male        PG     Good       0     1     0            1
42   30  Female        PG     Good       1     0     0            1
43   27    Male        PG     Poor       0     1     0            2
44   77  Female        UG  Average       1     0     2            0
45   61    Male        PG     Poor       0     1     0            2
46   64  Female        PG     Poor       1     0     0            2
47   38  Female        PG     Good       1     0     0            1
48   39  Female        UG     Good       1     0     2            1
49   25  Female        UG     Good       1     0     2            1

In [80]:
df.drop(["gender","education","review"], axis =1, inplace = True)

In [81]:
df

    age  Female  Male  Rank  performance
0    30       1     0     1            0
1    68       1     0     2            2
2    70       1     0     0            1
3    72       1     0     0            1
4    16       1     0     2            0
5    31       1     0     1            0
6    18       0     1     1            1
7    60       1     0     1            2
8    65       1     0     2            0
9    74       0     1     2            1
10   98       1     0     2            1
11   74       0     1     2            1
12   51       0     1     1            2
13   57       1     0     1            0
14   15       0     1     0            2
15   75       0     1     2            2
16   59       0     1     2            2
17   22       1     0     2            2
18   19       0     1     1            1
19   97       0     1     0            2
20   57       1     0     1            0
21   32       0     1     0            0
22   18       1     0     0            2
23   96       1     0     1            1
24   16       1     0     0            0
25   57       1     0     1            1
26   53       1     0     0            2
27   69       1     0     0            2
28   48       0     1     1            2
29   83       1     0     2            0
30   73       0     1     2            0
31   22       1     0     1            2
32   92       0     1     2            0
33   89       1     0     0            1
34   86       0     1     1            0
35   74       0     1     1            2
36   34       1     0     2            1
37   94       0     1     0            0
38   45       1     0     1            1
39   76       0     1     0            2
40   39       0     1     1            1
41   23       0     1     0            1
42   30       1     0     0            1
43   27       0     1     0            2
44   77       1     0     2            0
45   61       0     1     0            2
46   64       1     0     0            2
47   38       1     0     0            1
48   39       1     0     2            1
49   25       1     0     2            1